service drm /system/bin/drmserver
    class main
    user drm
    # Add drmserver access and internal storage permission
    group drm system inet drmrpc readproc media_rw
    writepid /dev/cpuset/foreground/tasks
